html,body,p,ul,li {
  margin: 0;
  padding: 0;
}
body {
  color: #000;
  background: #ccc;
  font: 13px/1 Arial, sans-serif;
}
a {
  color: #01c;
}
#back {
  background: -webkit-gradient(linear,0 0,0 100%,from(#ddd),to(#ccc)) repeat-x;
  background: -moz-linear-gradient(#ddd, #ccc) repeat-x;
  background: -ms-linear-gradient(#ddd, #ccc) repeat-x;
  background: -o-linear-gradient(#ddd, #ccc) repeat-x;
  background: linear-gradient(#ddd, #ccc) repeat-x;
  -moz-box-shadow: inset 0 1px #eee;
  box-shadow: inset 0 1px #eee;
}
#page {
  width: 912px;
  padding: 12px 0 12px 12px;
}
#info {
  margin-left: 140px;
  text-align: center;
  font-weight: bold;
  height: 1em;
  margin-bottom: 12px;
}
#info, #rooms {
  text-shadow: 0 1px 0 #f3f3f3;
}
#rooms {
  margin-top: 4px;
  line-height: 20px;
  float: left;
  width: 140px;
  color: #444;
}
#roomlist {
  color: #000;
  width: 100%;
  list-style: none;
}
#roomlist a {
  text-decoration: none;
}
#roomlist > li {
  width: 100%;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
#board {
  background: #fff;
  -moz-border-radius: 3px;
  border-radius: 3px;
  -moz-box-shadow:
    inset 0 0 0 1px rgba(0,0,0,.2),
    inset 0 1px 2px #d0d0d0,
    0 1px #e0e0e0;
  box-shadow:
    inset 0 0 0 1px rgba(0,0,0,.2),
    inset 0 1px 2px #d0d0d0,
    0 1px #e0e0e0;
  margin-left: 152px;
  width: 760px;
  height: 540px;
  position: relative;
  -moz-user-select: none;
  -webkit-user-select: none;
  user-select: none;
}

.letter {
  cursor: default;
  position: absolute;
  font: 28px/23px Anton, sans-serif;
  text-decoration: none;
}
.red {
  color: #ed2c33;
  text-shadow:
    0 1px #8b0005,
    1px 0 #8b0005,
    1px 2px #5a0003,
    2px 1px #5a0003,
    -1px 0 #8b0005,
    0 -1px #8b0005;
}
.yellow {
  color: #fce600;
  text-shadow:
    0 1px #8e8100,
    1px 0 #8e8100,
    1px 2px #4e4700,
    2px 1px #4e4700,
    -1px 0 #8e8100,
    0 -1px #8e8100;
}
.blue {
  color: #2697ce;
  text-shadow:
    0 1px #00496c,
    1px 0 #00496c,
    1px 2px #002e44,
    2px 1px #002e44,
    -1px 0 #00496c,
    0 -1px #00496c;
}
.orange {
  color: #f58235;
  text-shadow:
    0 1px #873600,
    1px 0 #873600,
    1px 2px #502000,
    2px 1px #502000,
    -1px 0 #873600,
    0 -1px #873600;
}
.green {
  color: #54b948;
  text-shadow:
    0 1px #0a5700,
    1px 0 #0a5700,
    1px 2px #052f00,
    2px 1px #052f00,
    -1px 0 #0a5700,
    0 -1px #0a5700;
}