html,body,p {
  margin: 0;
  padding: 0;
}

body {
  background: #ccc;
  font: 13px/16px arial;
}

#back {
  border-top: 1px solid #eee;
  background: -webkit-linear-gradient(#ddd, #ccc) repeat-x;
}

#page {
  width: 760px;
  padding: 12px 0;
  margin: 0 auto;
}

#board {
  background: #fff;
  border-radius: 3px;
  box-shadow:
    inset 0 0 0 1px rgba(0,0,0,.2),
    inset 0 1px 2px #d0d0d0,
    0 1px #e0e0e0;
  width: 760px;
  height: 540px;
  position: relative;
  -moz-user-select: none;
  -webkit-user-select: none;
  user-select: none;
}

.letter {
  background: transparent;
  cursor: default;
  font: 28px/20px Anton;
  text-align: center;
  position: absolute;
  display: block;
  width: 16px;
  height: 24px;
  text-shadow:
    0 0 1px #000,
    0 1px 1px #000;
}

.red { color: #ed1c24 }
.yellow { color: #fce600 }
.blue { color: #008bce }
.orange { color: #f58235 }
.green { color: #54b948 }