html,body,p,h1,ul,li,input,button {
  margin: 0;
  padding: 0;
}
body {
  color: #000;
  background: #fff;
}
body,h1 {
  font: 13px/1.231 Arial, sans-serif;
}
a {
  color: #01c;
}

h1 {
  font: 26px/24px "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: bold;
  letter-spacing: -1px;
  color: #000;
  margin-bottom: 12px;
}
#head {
  background: #f0f0f0;
  background: -webkit-linear-gradient(#f3f3f3, #eee);
  padding: 12px;
}

input,button {
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  font-family: inherit;
  font-size: inherit;
  background: #fff;
  border: 1px solid;
  border-color: rgba(0,0,0,.25) rgba(0,0,0,.27) rgba(0,0,0,.3);
  -moz-box-shadow: inset 0 2px 0 -1px #f3f3f3;
  box-shadow: inset 0 2px 0 -1px #f3f3f3;
  padding: 2px 4px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  outline: none;
}
[type="checkbox"],[type="submit"],button {
  border-color: rgba(0,0,0,.15) rgba(0,0,0,.25) rgba(0,0,0,.35);
  background: #eee;
  background: -moz-linear-gradient(#f9f9f9 30%, #e3e3e3 70%);
  background: -webkit-linear-gradient(#f9f9f9 30%, #e3e3e3 70%);
  background: linear-gradient(#f9f9f9 30%, #e3e3e3 70%);
  -moz-box-shadow:
    inset 0 0 0 1px rgba(255,255,255,.5),
    0 1px 0 rgba(0,0,0,.06);
  box-shadow:
    inset 0 0 0 1px rgba(255,255,255,.5),
    0 1px 0 rgba(0,0,0,.06);
}
input:focus,button:focus{
  border-color: #88a8c2 #7d9fba #7898b3;
  -moz-box-shadow: inset 0 2px 0 -1px #ebf2f5;
  box-shadow: inset 0 2px 0 -1px #ebf2f5;
}
[type="checkbox"]:focus,[type="submit"]:focus,button:focus {
  border-color: #8fb0cc #7d9fba #6887a1;
  background: -moz-linear-gradient(#e5f4fb 30%, #a8d5fb 70%);
  background: -webkit-linear-gradient(#e5f4fb 30%, #a8d5fb 70%);
  background: linear-gradient(#e5f4fb 30%, #a8d5fb 70%);
  -moz-box-shadow:
    inset 0 0 0 1px rgba(255,255,255,.5),
    0 1px 0 rgba(168,213,251,.4);
  box-shadow:
    inset 0 0 0 1px rgba(255,255,255,.5),
    0 1px 0 rgba(168,213,251,.4);
}
[type="checkbox"] {
  -webkit-appearance: none;
  width: 12px;
  height: 12px;
  position: relative;
  vertical-align: -1px;
}
[type="checkbox"]:after {
  width: 11px;
  height: 11px;
  display: block;
  position: absolute;
  top: -3px;
  left: 1px;
  background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAsAAAALCAQAAAADpb+tAAAAcklEQVQIHWXBIQoCQQAAwAkWDR74D4PNqOAbBLkP+AD7VTFabYLFL2i6J1y2mAzbFmSrIHKw6wylytnJn0bSKswkyVxmqJUcFHaSzlhmKkoWvjaeagzcvO39rEXR0lbUqfQawcNLsJK5CIKjwsjV3UTvA0hhHjtECitsAAAAAElFTkSuQmCC) no-repeat;
}
:checked:after {
  content: "";
}
::-moz-focus-inner {
  border: 0;
}
@-moz-document url-prefix() {
  [type="checkbox"] {
    width: auto;
    height: auto;
    vertical-align: 0;
  }
}

#todos {
  list-style: none;
}

.completed > label {
  text-decoration: line-through
}

