<!DOCTYPE html>
<meta charset="utf-8">
<title>Racer pad - {{room}}</title>
<style>
#pad {
  position: absolute;
  bottom: 24px;
  left: 24px;
  right: 24px;
  top: 24px;
  font: 16px/1.2 sans-serif;
  padding: 4px 7px;
}
body {
  background: #ddd;
}
</style>

<textarea id="pad" autofocus>{{text}}</textarea>

<script async src="/script.js" onload='require("racer").init({{{bundle}}})'></script>
