<!DOCTYPE html>
<meta charset="utf-8">
<title>Racer pad - {{room}}</title>
<style>
#pad-container {
  position: absolute;
  top: 24px;
  right: 24px;
  bottom: 24px;
  left: 24px;
}
#pad {
  font: 16px/1.2 sans-serif;
  padding: 4px 7px;
  height: 100%;
  width: 100%;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
body {
  background: #ddd;
}
</style>

<div id="pad-container">
  <textarea id="pad" autofocus>{{text}}</textarea>
</div>

<script async src="/script.js" onload='require("racer").init({{{bundle}}})'></script>
